---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
//import CallToAction from '~/components/widgets/CallToAction.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
//import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
//import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

//import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Лучший сервис поставок товаров из Европы',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="С НАМИ НАДЁЖНЕЙ"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Связаться',
        href: '#contact',
        icon: 'tabler:arrow-narrow-right',
      },
      { text: 'Узнать больше', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Импорт</span> товаров из Европы
    </Fragment>

    <Fragment slot="subtitle">
      Окажем содействие в приобретении товаров в Европе и их доставке в любую точку мира.
    </Fragment>

    <!-- <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>-->
  </Hero>

  <!-- Features Widget *************** -->
  <!-- Features2 Widget ************** -->

  <Features2
  id="about"
    title="О нас"
    subtitle="НордикАльфа - компания с многолетним опытом работы в сфере поставок разнообразных товаров бытового и промышленного назначения."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

 <!-- <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  />--> 

  <!-- Brands Widget ****************** -->

  <Brands
   id="brands"
    title="Партнёры и поставщики"
    subtitle="В НордикАльфа мы верим в силу сотрудничества, способствующего взаимопониманию и созданию крепких отношений."
    icons={[]}
    images={[
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/Miele-logo-500x281.png',
        alt: 'Miele',
      },
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/Liebherr-logo-500x281.png',
        alt: 'Liebherr',
      },
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/Gaggenau-logo.png',
        alt: 'Gaggenau',
      },
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/Kuppersbusch-logo-500x281.png',
        alt: 'Kuppersbusch',
      },
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/Samsung-Logo-2-500x281.png',
        alt: 'Samsung',
      },
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/Electrolux-logo-500x281.png',
        alt: 'Electrolux',
      },
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/neff.jpg',
        alt: 'Neff',
      },
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/Smeg-logo.png',
        alt: 'Smeg',
      },
      {
        src: 'https://pub-cde820a2c907491fbbfdb7e869d044e8.r2.dev/brands/asco-logo.jpg',
        alt: 'Asco',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
  id="services"
    title="Какие услуги мы предлагаем?"
    subtitle="Мы предлагаем ряд услуг позволяющих приобрести товары в Европе с наименьшим риском."
    items={[
      {
        title: 'Размещение заказов',
        description:
          'По вашему запросу дадим лучшее коммерческое предложение и разместим заказ у интересующего вас поставщика.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Содействие в платежах',
        description:
          'Согласуем лучший способ оплаты вашего заказа. Принимаем рубли, доллары США, евро, криптовалюту USDT(TRC).',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Транспорт',
        description:
          'Доставим товар наземным, морским или воздушным транспортом в любую точку мира.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Наши претмущества"
    title="Что вы получаете работая с нами"
    subtitle="Один из самых профессиональных и полных сервисов на рынке в настоящее время."
    columns={3}
    items={[
      {
        title: 'Высокое качество продукции',
        description:
          'Наши товары всегда проходят тщательный контроль качества, и мы предоставляю только лучшие бренды и модели товаров, чтобы удовлетворить потребности своих клиентов.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Конкурентные цены',
        description:
          'Мы предлагаем конкурентоспособные цены на все наши товары. Благодаря прямым связям с производителями и оптовиками, мы можем предоставить лучшие предложения на рынке.',
        icon: 'tabler:components',
      },
      {
        title: 'Большой ассортимент',
        description:
          'Мы поставляем товары широкого спектра, начиная от мебели и бытовой техники до определенных видов промышленного оборудования и материалов. Мы всегда готовы помочь в решении самых непростых задач.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Быстрая доставка',
        description:
          'Мы предоставляем быструю и надежную доставку, чтобы вы могли быстро начать пользоваться приобретенным товаром и решать свои поставленные задачи.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Высокая надежность',
        description:
          "Мы пользуемся непререкаемой репутацией среди наших партнёров-поставщиков. Налаженная системы приёма и отправки платежей позволяет установить с покупателем честные и прозрачные финансовые отношения.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Профессиональное обслуживание',
        description:
          'Мы всегда стремимся удовлетворять новые и неординарные запросы наших заказчиков, содействовать инновациям, принимать участие в сложных и амбициозных проектах.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
  tagline="ЧаВо"
    title="Часто задаваемые вопросы"
    items={[
      {
        title: 'What are landing page templates?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'Why should I use a template?',
        description:
          'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
      },
      {
        title: 'Can I preview templates before buying?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'Do I need technical skills to use a template?',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'Can I use the template on multiple websites?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>-->

  <!-- Note Widget ******************* -->
  <Note />

  <!-- Features3 Widget ************** -->

  <Features3
  id="contact"
    title="Свяжитесь с нами"
    subtitle="Мы готовы дать ответ на любой вопрос, который может у вас возникнуть."
    columns={4}
    items={[
      {
        title: 'По телефону в России',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Позвоните',
          href: 'Call:+79605433812',
          variant: 'link',
        },
      },
      // {
      //   title: 'По телефону в Италии',
      //   icon: 'tabler:phone',
      //   callToAction: {
      //     target: '_blank',
      //     text: 'Позвоните',
      //     href: 'Call:+393445052279',
      //     variant: 'link',
      //   },
      // },
      {
        title: 'По почте',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Напишите',
          href: 'mailto:info@nordicalpha.eu',
          variant: 'link',
        },
      },
      {
        title: 'Telegram',
        icon: 'tabler:brand-telegram',
        callToAction: {
          target: '_blank',
          text: 'Начать Чат',
          href: 'https://t.me/nordic_alpha',
          variant: 'link',
        },
      },
      {
        title: 'Whatsapp',
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          target: '_blank',
          text: 'Начать Чат',
          href: 'https://wa.me/79605433812?text=Привет! Хочу сделать заказ',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get templates',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Discover a dynamic work environment, unparalleled growth opportunities, and the chance to make a meaningful
      impact.
    </Fragment>
  </CallToAction>-->
</Layout>

<script>
	import { reset, run } from 'vanilla-cookieconsent';
	  import { config } from '../components/CookieConsentConfig';
  
	  const resetBtn = document.getElementById("reset-btn");
	  const toggleThemeBtb = document.getElementById("toggle-theme-btn");
  
	  resetBtn?.addEventListener('click', () => {
		  reset(true);
		  run(config);
	  });
  
	  toggleThemeBtb?.addEventListener('click', () => {
		  document.body.classList.toggle('cc--elegant-black');
	  });
  </script>